@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: color 100ms;
}
a:hover {
  color: #7178fb;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
  font-weight: 500;
}

h3 {
  font-size: 1.6em;
  line-height: 1.1;
  font-weight: 500;
}

button {
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms, border-color 250ms;
  @apply bg-blue-500;
}
button:hover {
  border-color: #123787;
  @apply bg-blue-600;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header {
  @apply bg-blue-900 p-2 w-full z-10;
  color: rgba(255, 255, 255, 0.87);
}

.header__menu {
  @apply flex justify-between items-center;
}

.header__burger-button {
  display: none;
  font-size: 40px;
  margin: auto 0;
  cursor: pointer;
}

.disabled {
  display: none;
}

.logo {
  width: 10rem;
}

.container {
  max-width: 90vw;
  display: flex;
  margin: 0 auto;
}

.header > .container {
  @apply justify-between align-middle flex-row;
}

@media screen and (max-width: 786px) {
  .header__menu {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: #2c2c31fa;
    padding: 1rem;
    border-radius: 5px;
    width: 70%;
    font-size: 20px;
    line-height: 30px;
  }

  .header__menu > a {
    padding: 3px 0;
    width: 100%;
    text-align: center;
  }

  .header__menu.burger-menu {
    display: flex;
  }

  .header__burger-button {
    display: block;
  }
}

.wrapper {
  @apply flex flex-col min-h-screen;
}

.tutorials {
  @apply flex h-full flex-1;
}

.screenshot {
  @apply py-4;
}

.screenshot > .container {
  @apply my-4 items-center text-3xl justify-between;
}

.screenshot__img {
  max-width: 800px;
  border-radius: 10px;
}

.screenshot__text {
  max-width: 30%;
}

@media screen and (max-width: 1200px) {
  .screenshot > .container {
    flex-direction: column;
  }
  .screenshot__text {
    margin-bottom: 10px;
    max-width: 80%;
    text-align: center;
  }
  .screenshot__img {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .screenshot {
    padding: 20px 0;
  }
  .screenshot__text {
    font-size: 20px;
    line-height: 24px;
    max-width: 70%;
    margin-bottom: 30px;
  }
  .screenshot__img {
    width: 98%;
  }
  .screenshot > .container {
    max-width: 100vw;
  }
}

input,
textarea {
  border: 1px solid #123787;
  padding: 0.5rem;
  @apply my-1;
  border-radius: 0.25em;
}

.admin-form {
  @apply flex flex-col max-w-80 mx-auto mt-5;
}

.sidebar {
  min-width: 15%;
  @apply bg-gray-300;
}

.active-tutorial > p,
.active-tutorial > p:hover {
  @apply bg-blue-400;
}

.tutorial-content {
  @apply flex flex-col mx-auto;
  max-width: 75%;
  padding-bottom: 50px;
}

.tutorial-content h1,
.tutorial-content h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tutorial-content h1::after,
.tutorial-content h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #d1d5da;
  margin-top: 5px;
}

.tutorial-content p {
  @apply text-xl;
}

.sidebar-switch {
  display: none;
  cursor: pointer;
  font-size: 30px;
  background-color: #184097;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  text-align: center;
}

@media screen and (max-width: 930px) {
  .sidebar {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 70%;
    z-index: 10;
    width: 70%;
    background-color: #aeb2b5;
    margin: 20px 0;
  }

  .sidebar.sidebar-abs {
    display: block;
  }

  .sidebar-switch {
    display: block;
    position: fixed;
    z-index: 10;
  }
}

@media screen and (max-width: 836px) {
  .tutorial-content {
    max-width: 85%;
  }
}
